img{max-width:100%;}

body{color:rgb(255, 255, 255);font-size:33px;}

.cfpage{background:url('../../static/img/pop_big.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:609px;outline:none;outline-style:none;padding-left:23px;padding-top:4px;position:relative;transition:all 0.3s;transition-duration:0.3s;transition-property:all;webkit-transition:all 0.3s;webkit-transition-duration:0.3s;webkit-transition-property:all;width:543px;}

.cficon_money{background:url('../../static/img/money.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:33px;width:52px;}

.cficon_money.toplist{padding-left:56px;}

.cficon_exp{background-size:100% 100%;-moz-background-size:100% 100%;height:35px;width:48px;}

.cfinfo_tabl{line-height:37px;}

.cfinfo_exp_bg{background:url('../../static/img/icon_exp_bg.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:45px;text-align:center;width:209px;}

.cfinfo_exp_img{background:url('../../static/img/icon_exp.png') no-repeat;background-size:cover;-moz-background-size:cover;height:45px;margin-left:0px;margin-top:0px;width:209px;}

.divcar1{border:none;border-bottom-style:none;border-style:none;border-top:none;border-top-style:none;height:32px;width:49px;}

.divcar2{height:38px;width:41px;}

.divcar3{height:39px;width:49px;}

.cfinfo_exp{height:45px;margin-top:-42px;position:relative;text-align:center;width:209px;}

.cfpage.player{height:660px;}

.cflogin_input_div{font-size:1.2em;left:131px;position:absolute;top:107px;}

.cflogin_tip{color:black;left:131px;position:absolute;top:628px;}

.cflogin_input{background:none;border:none;border-bottom-style:none;border-style:none;border-top:none;border-top-style:none;color:blue;width:267px;}

td{font-size:26px;font-weight:bold;}

.cfpage_text{font:NaNpx;font-family:arial, serif;font-size:21px;font-weight:bold;position:absolute;}

.cfpage_text.playerinfo{font-size:18px;left:32px;top:107px;}

.cfpage_text.help{left:159px;top:262px;}

.cfpage_text.toplist{left:515px;top:107px;}

.cfpage_text.saving{left:150px;top:18px;}

.cfpage_text.weektop{left:354px;top:18px;}

.cfpage_text.level{left:9px;top:101px;}

.cfpage_text.bank{left:65px;top:420px;}

.cfpage_text.quest{left:517px;top:0px;}

.cfpage_text.quest2{height:93px;left:-2px;top:0px;width:84px;}

.cfpage_text.stock{left:360px;top:194px;}

.cfpage_text.tip{background:url('../../static/img/tip_cash.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:94px;left:70px;top:-70px;width:82px;z-index:200;}

.cfpage_text.tip2{background:url('../../static/img/tip_cash.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:94px;left:70px;top:-84px;width:82px;z-index:200;}

.cfpage_text.stocktip{background:url('../../static/img/tip_stock.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:94px;left:32px;top:-70px;width:82px;z-index:200;}

.cfpage_text.stocktip2{background:url('../../static/img/tip_stock.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:94px;left:32px;top:-84px;width:82px;z-index:200;}

.cfpage_text.banktip{background:url('../../static/img/tip_cash.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:94px;left:70px;top:-70px;width:82px;z-index:200;}

.cfpage_text.banktip2{background:url('../../static/img/tip_cash.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:94px;left:70px;top:-84px;width:82px;z-index:200;}

.cfpage_text.insure{left:320px;top:583px;}

.cf_bt{background:url('../../static/img/bt_yellow.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;border:none;border-bottom-style:none;border-style:none;border-top:none;border-top-style:none;height:60px;width:163px;}

.cf_bt.questprize{float:right;font-size:21px;height:42px;width:112px;}

.cf_bt.pagingleft{float:left;position:relative;}

.cf_bt.pagingright{float:right;margin-right:14px;}

.cf_bt_green{background:url('../../static/img/bt_green_left.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;border:none;border-bottom-style:none;border-style:none;border-top:none;border-top-style:none;color:rgb(255, 255, 255);height:54px;width:212px;}

.cf_bt_green.right{background:url('../../static/img/bt_green_right.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;}

.cf_paging{color:rgb(255, 192, 203);margin-left:75px;position:relative;text-align:center;width:281px;}

.cfsaving_div{margin-top:-9px;text-align:center;}

.cfsaving_stext{color:green;float:right;font-size:28px;}

.cfsaving_stext.out{color:red;}

.cfsaving_content{line-height:56px;text-align:left;}

.cfsaving_qty{font-size:28px;height:54px;line-height:100%;text-align:center;width:206px;}

.cfplayer_head_bg{background:url('../../static/img/player_head_bg.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:112px;vertical-align:bottom;width:112px;}

.cfplayer_head_bg.insure{margin-left:28px;}

.cfplayer_head_bg.event{left:28px;margin-left:28px;}

.cfplayer_head_bg.event.bad{background:url('../../static/img/player_head_bg2.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;}

.cfplayer_head_bg.uplevel{margin-left:168px;}

.cfevent_content{height:131px;}

.cfevent_desc{margin-left:18px;position:relative;text-align:left;width:262px;}

.cfevent_get{left:-46px;margin-top:28px;position:relative;}

.cfplayer_panel_text{font-size:26px;padding-left:28px;}

.cfplayer_panel{background:url('../../static/img/player_panel_bg.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:219px;margin-left:-9px;margin-top:9px;padding-left:18px;padding-top:4px;width:514px;}

.cfplayer_info{margin-left:-9px;margin-top:28px;}

.cfplayer_info3{width:121px;}

.cfplayer_info2{font-size:18px;vertical-align:top;width:187px;}

.cfplayer_pie{margin-left:-9px;margin-top:-28px;}

.cfhelp{}

.cfhelp_info{left:103px;position:relative;top:84px;}

.cfhelp_info_text{display:block;margin-left:84px;position:relative;}

.cfhelp_quest{left:375px;position:relative;top:-93px;}

.cfhelp_quest_text{display:block;margin-left:-28px;position:relative;}

.cfhelp_quest_img{transform:rotateY(180deg);webkit-transform:rotateY(180deg);}

.cfhelp_toplist{left:412px;position:relative;}

.cfhelp_toplist_text{display:block;margin-left:-37px;margin-top:28px;position:relative;}

.cfhelp_toplist_img{webkit-transform:rotate(120deg);}

.cfpanel_title{color:yellow;font-weight:bold;}

.cfpanel_title.small{font-size:30px;}

.cfpanel_text{float:left;font-size:26px;padding-right:9px;position:relative;}

.cfpanel_text.right{float:right;position:relative;}

.cfmsg_text{font-size:26px;height:257px;position:relative;text-align:center;}

.cfmsg_text.insure{height:300px;margin-top:37px;}

.cfmsg_text.final{height:393px;margin-top:37px;}

.cfmsg_text.insure.small{height:337px;}

.cfmsg_text.uplevel{font-size:26px;height:140px;position:relative;text-align:center;}

.cfmsg_text.help{color:orange;font-size:21px;height:516px;margin-left:18px;margin-top:-28px;text-align:left;}

.cfmsg_textsmall{color:rgb(39, 88, 104);font-size:17px;}

.cfpanel{background:url('../../static/img/panel_bg.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:93px;margin-top:7px;padding-left:9px;padding-top:5px;position:relative;width:95%;}

.cfpanel.bank2{margin-bottom:18px;}

.cfpanel.bank{background:url('../../static/img/bank_bg.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:326px;margin-bottom:9px;margin-top:18px;padding-left:18px;padding-top:18px;width:500px;}

.cfpanel_body{height:487px;}

.cfpagedetail{background:url('../../static/img/popd_big.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;color:rgb(39, 88, 104);margin:0px;margin-bottom:14px;margin-left:0px;margin-right:0px;margin-top:0px;padding:18px;padding-bottom:18px;padding-left:18px;padding-right:18px;padding-top:18px;position:relative;width:543px;}

.cfpagedetail.stock{background:url('../../static/img/popd_big2.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:690px;margin:0px;margin-bottom:14px;margin-left:0px;margin-right:0px;margin-top:0px;padding:18px;padding-bottom:18px;padding-left:18px;padding-right:18px;padding-top:18px;position:relative;width:553px;}

.cfpagedetail.small{background:url('../../static/img/popd_small.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:447px;margin-left:28px;margin-top:28px;width:487px;}

.cfpagedetail.small.saving{background:url('../../static/img/popd_small2.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:428px;width:483px;}

.cfpagedetail.uplevel{background:url('../../static/img/popd_small.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:428px;margin-left:60px;margin-top:-281px;width:483px;}

.cfpagedetail.insure{background:url('../../static/img/popd_big.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:562px;}

.cfhelp_clickon{height:159px;width:154px;}

.cfinsure_tabl{margin-left:9px;text-align:left;width:468px;}

.cfinsure_desc{margin-left:28px;}

.cfinsure_tabl2{border:1px;border-bottom-width:1px;border-top:1px;border-top-width:1px;border-width:1px;margin-left:168px;text-align:left;width:281px;}

.cfinsure_img{height:112px;width:112px;}

.cfinsure_clickon{height:297px;width:219px;}

.cfbank_clickon{height:288px;width:187px;}

.cfbank_div{height:288px;left:65px;position:absolute;top:420px;width:187px;z-index:10;}

.cfstock_div{height:365px;left:360px;position:absolute;top:194px;width:200px;z-index:10;}

.cfinsure_div{height:297px;left:320px;position:absolute;top:583px;width:219px;z-index:10;}

.cfstock_clickon{height:365px;width:200px;}

.cfstock_qtime0{background:green;background-color:green;border:0px;border-bottom-color:black;border-bottom-style:solid;border-bottom-width:0px;border-color:black;border-style:solid;border-top:0px;border-top-color:black;border-top-style:solid;border-top-width:0px;border-width:0px;height:30px;position:relative;width:496px;}

.cfstock_qtime{background:yellow;background-color:yellow;font-size:18px;height:28px;position:relative;text-align:center;}

.cfstock_content{height:178px;margin-left:28px;margin-top:-9px;}

.cpgapedetail_h2{font-size:32px;margin-bottom:-4px;margin-left:4px;margin-top:4px;}

.cpgapedetail_h3{float:left;font-size:26px;margin-top:9px;}

.cpgapedetail_h2.stockdetail{margin-bottom:-23px;}

.cpgapedetail_h2.left{float:left;}

.cfprop{color:rgb(0, 0, 0);height:60px;padding-left:40px;width:178px;}

.cfprop.p1{background:url('../../static/img/prop_bg1.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;}

.cfprop.p2{background:url('../../static/img/prop_bg2.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;}

.cfprop.p3{background:url('../../static/img/prop_bg3.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;}

.cfprop.p4{background:url('../../static/img/prop_bg4.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;}

.cfprop.p5{background:url('../../static/img/prop_bg5.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;}

.cfmsg_h2{color:rgb(255, 255, 255);margin-top:-4px;}

.cfmsg_h2.insure{font-size:90%;margin-top:-14px;}

.cfmsg_h2.help{color:green;}

.cf_line{height:1px;width:496px;}

.cf_line.stockdetail{background:url('../../static/img/pop_line.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;margin:7px;margin-bottom:7px;margin-left:7px;margin-right:7px;margin-top:7px;}

.cf_stockdetail_btn{position:relative;text-align:center;width:468px;}

.cf_stock_desc{margin-bottom:-14px;margin-top:-14px;}

.cf_title_bg{background:url('../../static/img/title_bg.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;border:none;border-bottom-style:none;border-style:none;border-top:none;border-top-style:none;color:rgb(255, 255, 255);float:left;font-size:32px;height:64px;margin-left:14px;vertical-align:bottom;width:251px;}

.cf_title_bg.savingon{background:url('../../static/img/title_saving_on.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;margin-top:-64px;}

.cf_title_bg.saving2off{background:url('../../static/img/title_saving2_off.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;margin-left:200px;}

.cf_title_bg.savingoff{background:url('../../static/img/title_saving_off.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;}

.cf_title_bg.saving2on{background:url('../../static/img/title_saving2_on.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;margin-left:210px;margin-top:-64px;}

.cf_title_bg.won{background:url('../../static/img/title_toplist_won.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;margin-top:-64px;}

.cf_title_bg.moff{background:url('../../static/img/title_toplist_moff.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;margin-left:200px;}

.cf_title_bg.woff{background:url('../../static/img/title_toplist_woff.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;}

.cf_title_bg.mon{background:url('../../static/img/title_toplist_mon.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;margin-left:200px;margin-top:-64px;}

.cf_title{background-size:100% 100%;-moz-background-size:100% 100%;border:none;border-bottom-style:none;border-style:none;border-top:none;border-top-style:none;color:rgb(255, 255, 255);float:left;font-size:26px;font-weight:bold;height:38px;margin-left:23px;margin-top:16px;position:relative;width:173px;}

.cf_top{height:515px;margin-left:-14px;margin-top:9px;padding-left:9px;width:525px;}

.cf_top_header{background:url('../../static/img/top_title_bg.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:46px;padding-left:9px;vertical-align:middle;width:515px;}

.cfsignin_prize{display:block;left:262px;position:absolute;top:65px;z-index:3000;}

.cfsignin_prize.exp{left:126px;}

.cfsignin_mmdesc{padding-left:28px;}

.cfevent_prize{color:red;display:block;left:281px;position:absolute;top:0px;z-index:3000;}

.cf_top_zan{background:url('../../static/img/zan.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;border:none;border-bottom-style:none;border-style:none;border-top:none;border-top-style:none;height:20px;width:20px;}

.cf_top_share{background:url('../../static/img/bt_share.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;border:none;border-bottom-style:none;border-style:none;border-top:none;border-top-style:none;height:35px;width:32px;}

.cf_top_zan_me{background:url('../../static/img/zan.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;border:none;border-bottom-style:none;border-style:none;border-top:none;border-top-style:none;height:20px;width:20px;}

.cf_count{background:url('../../static/img/bt_minus.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;border:none;border-bottom-style:none;border-style:none;border-top:none;border-top-style:none;height:54px;margin-top:14px;width:75px;}

.cf_count.insure{margin-top:9px;}

.cf_count.add{background:url('../../static/img/bt_add.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;}

.cf_count.add.insure{margin-top:9px;}

.cf_title_close{float:right;height:66px;margin-right:14px;width:72px;}

.cf_title_close.top{margin-right:7px;}

.cf_bt.bt_cancel{background:url('../../static/img/bt_blue.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;}

.cfpage_content{margin-left:18px;margin-top:9px;}

.cf_font2{color:yellow;}

.cf_font3{color:rgb(255, 192, 203);margin-top:9px;}

.cf_font4{color:red;margin-top:9px;}

.cffeelingimg{height:106px;width:92px;}

.cffeelingword{height:38px;width:37px;}

.cf_signin_feeling{margin-left:-14px;margin-top:4px;}

.cf_signin_feeling2{background:url('../../static/img/signin_bg.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;height:215px;margin-left:-4px;width:500px;}

.cf_feeling{margin-left:14px;margin-top:18px;padding-bottom:18px;width:2px;}

.cftoplist_td{font-size:28px;}

.cftoplist_content{text-align:center;width:150px;}

.cftoplist_desc{font-size:22px;margin-left:-187px;text-align:left;width:468px;}

.cftoplist_top{height:51px;width:45px;}

.cftoplist_c2{width:56px;}

.cftoplist_c30{margin-left:9px;width:76px;}

.cftoplist_c3{margin-left:9px;width:76px;}

.cftoplist_c4{text-align:center;width:75px;}

.cftoplist_c5{width:173px;}

.cftoplist_c6{padding-left:18px;}

.cftoplist_c6.me{}

.cfsignin_feelingimgs{padding-left:18px;padding-right:18px;padding-top:28px;text-align:center;width:131px;}

.cfuplevel_img{height:468px;margin-left:65px;width:468px;}

.cfuplevel_block{margin:-65px;margin-bottom:auto;margin-left:auto;margin-right:auto;margin-top:-65px;text-align:center;}

.cfsignin_content{margin-left:9px;margin-top:4px;}

.cfquest_td{width:421px;}

.cfquest_icon{height:25px;width:73px;}

.cfinsure_tip{color:rgb(255, 192, 203);font-size:23px;margin-top:9px;}

.cfinsure_content{margin-top:-9px;text-align:center;}

.cfinsure_finan{height:140px;margin-bottom:28px;margin-top:-9px;}

.cfinsure_finalcount{font-size:30px;height:54px;text-align:center;width:318px;}

.cfmsg{background:url('../../static/img/tip_back.png') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;color:yellow;font-size:30px;height:95px;left:56px;opacity:0.95;position:absolute;text-align:center;top:328px;width:446px;z-index:2000;}

.cfmsg.load{padding-top:23px;}

.cfmsg_loadimg{height:37px;left:0px;position:relative;top:0px;width:37px;}

.cfmsg_loadimg.pp{width:15px;}

.td_right{}
