<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"></properties>

	<settings>
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="cacheEnabled" value="true"/>
		<setting name="defaultStatementTimeout" value="300000" />
	</settings>

	<!-- <plugins>
		<plugin interceptor="cn.freeteam.util.OffsetLimitInterceptor"> -->
			<!-- <property name="dialectClass" value="cn.freeteam.util.SQLServerDialect"/> -->
		<!--</plugin>
	</plugins> -->
	<environments default="${environment}">
		<environment id="mssql">
			<transactionManager type="JDBC" ></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${mssql.driver}" />
				<property name="url" value="${mssql.url}" />
				<property name="username" value="${mssql.username}" />
				<property name="password" value="${mssql.password}" />
				<property name="poolMaximumIdleConnections" value="0" />
				<property name="poolMaximumActiveConnections" value="10" />
			</dataSource>
		</environment>
		<environment id="mysql">
			<transactionManager type="JDBC" ></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${mysql.driver}" />
				<property name="url" value="${mysql.url}" />
				<property name="username" value="${mysql.username}" />
				<property name="password" value="${mysql.password}" />
				<property name="poolMaximumIdleConnections" value="10" />
				<property name="poolMaximumActiveConnections" value="100" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="cn/hd/cf/model/ToplistMapper.xml"/>
		<mapper resource="cn/hd/cf/model/PlayerMapper.xml"/>
		<mapper resource="cn/hd/cf/model/SignindataMapper.xml"/>
		<mapper resource="cn/hd/cf/model/QuestdataMapper.xml"/>
		<mapper resource="cn/hd/cf/model/InsureMapper.xml"/>
		<mapper resource="cn/hd/cf/model/InsuredataMapper.xml"/>
		<mapper resource="cn/hd/cf/model/TitledataMapper.xml"/>
		<mapper resource="cn/hd/cf/model/EventdataMapper.xml"/>
		<mapper resource="cn/hd/cf/model/StockMapper.xml"/>
		<mapper resource="cn/hd/cf/model/StockdataMapper.xml"/>
		<mapper resource="cn/hd/cf/model/SavingMapper.xml"/>
		<mapper resource="cn/hd/cf/model/SavingdataMapper.xml"/>
		<mapper resource="cn/hd/cf/model/InitMapper.xml"/>
		<mapper resource="cn/hd/cf/model/InitdataMapper.xml"/>
		<mapper resource="cn/hd/cf/model/QuotedataMapper.xml"/>
																							</mappers>
</configuration>